<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668040840398-37ihcsqafc7g3o4i3240vm01109u11u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668040840398-37ihcsqafc7g3o4i3240vm01109u11u7</string>
	<key>API_KEY</key>
	<string>AIzaSyBhG9ejYsMgfekobjKiTJZVWSoRMWqRrlE</string>
	<key>GCM_SENDER_ID</key>
	<string>668040840398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fairtasting.app</string>
	<key>PROJECT_ID</key>
	<string>fairtasting-main</string>
	<key>STORAGE_BUCKET</key>
	<string>fairtasting-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668040840398:ios:ec661840216004afa6fc9f</string>
</dict>
</plist>